@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #1e1c27;
  --color-secondary: #5ce1e6;
  --color-tertiary: #4a5e69;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  letter-spacing: 1px;
}

@media screen and (min-width: 1280px) {
  body {
    width: 80rem;
    margin: 0 auto;
    background-color: #4a5e69;
  }
}

h1 {
  font-size: large;
}

html {
  scroll-behavior: smooth;
}
 